body {
  margin: 0;
  font-family: "Inter", sans-serif;
  background-color: var(--bg);
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  /*font size variable*/
  --fontBase: "Inter", sans-serif;
  --fontAlternative: "Oxygen", sans-serif;

  --headLineMobile1: 35px/42px var(--fontBase);
  --headLineMobile2: 16px/19px var(--fontBase);
  --headLineMobile3: bold 33px/40px var(--fontBase);

  --headLine1: bold 45px/52px var(--fontBase);
  --headLine2: 28px/34px var(--fontBase);
  --headLine3: bold 48px/77px var(--fontBase);

  --body1: 16px/19px var(--fontBase);

  --headLine4: bold 34px/55px var(--fontBase);
  --headLine5: bold 24px/38px var(--fontBase);
  --body1: 16px/25px var(--fontBase);
  --body2: 14px/22px var(--fontBase);
  --buttom: bold 14px/23px var(--fontBase);
  --caption: 12px/19px var(--fontBase);
  --mencion: lighter 24px/39px var(--fontAlternative);
  --mencion2: 34px/55px var(--fontAlternative);
  --mencion3: bold 34px/55px var(--fontAlternative);
  --testimony: bold 16px/26px var(--fontAlternative);
  /*bg color variable*/
  --bg: #f8f9fb;
  --gradient: linear-gradient(90deg, #0072ff 3.26%, #00c6ff 79.34%);
  backdrop-filter: blur(39.7657px);
  /*color variable*/
  --white: white;
  --softblue: #a7ffff;
  --blue: #356fcd;
  --AlternativeBlue: #0271fe;
  --alternativeBlack: #373739;
  --black2: #6a6a6a;
  --Nocolor: transparent;
}
