.NotFound {
  border: 2px solid red;
  height: calc(100vh - 72px);
  display: flex;
  align-items: center;
  justify-content: center;
}

.NotFound-Container {
  border: 2px solid red;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.NotFound-Container h1 {
  color: var(--blue);
}
